.mb-5 {
  margin-bottom: 1.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.box-border {
  box-sizing: border-box
}

.flex {
  display: flex
}

.table {
  display: table
}

.h-0 {
  height: 0px
}

.h-2 {
  height: 0.5rem
}

.h-4 {
  height: 1rem
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.w-96 {
  width: 24rem
}

.w-full {
  width: 100%
}

.flex-grow {
  flex-grow: 1
}

.grow {
  flex-grow: 1
}

.basis-full {
  flex-basis: 100%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-solid {
  border-style: solid
}

.bg-primary {
  background-color: var(--primary)
}

.bg-surface-container {
  background-color: var(--surface-container)
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-8 {
  padding: 2rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-4 {
  padding-top: 1rem
}

.pt-8 {
  padding-top: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-on-primary {
  color: var(--on-primary)
}

.text-on-surface {
  color: var(--on-surface)
}

.text-primary {
  color: var(--primary)
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.outline {
  outline-style: solid
}