$ocean-palette:(
  0: #000000,
  10: #02151f,
  20: #05212e,
  25: #062736,
  30: #082f3e,
  35: #093445,
  40: #2e5261,
  50: #53717d,
  60: #849aa2,
  70: #b5c2c7,
  80: #e1e7e9,
  90: #e0e0ff,
  95: #f1efff,
  98: #fbf8ff,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #191a2c,
    20: #2e2f42,
    25: #393a4d,
    30: #444559,
    35: #505165,
    40: #5c5d72,
    50: #75758b,
    60: #8f8fa6,
    70: #a9a9c1,
    80: #c5c4dd,
    90: #e1e0f9,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
      )
);

$sky-palette:(
  0: #000000,
  10: #003b68,
  20: #01579b,
  25: #0277bd,
  30: #0288d1,
  35: #039be5,
  40: #03a9f4,
  50: #29b6f6,
  60: #4fc3f7,
  70: #81d4fa,
  80: #b3e5fc,
  90: #e1f5fe,
  95: #f1efff,
  98: #fbf8ff,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #191a2c,
    20: #2e2f42,
    25: #393a4d,
    30: #444559,
    35: #505165,
    40: #5c5d72,
    50: #75758b,
    60: #8f8fa6,
    70: #a9a9c1,
    80: #c5c4dd,
    90: #e1e0f9,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
      )
);