tr.dependency-version-row td {
    border-bottom:solid 1px var(--outline); //fix for nested table in last row
}
.dependency-version-row:last-child td {
    border-bottom:none; //fix for inner table last row duplicate border
}

.dependency-row td {
    border-bottom: none;
}
.dependency-version-row:last-child > td {
    border-bottom:none; //fix for outer table last row duplicate border
}