<div id="buildFileSection" class="flex flex-row w-full justify-center pt-8">
    <div id="settingsContent" class="flex flex-col h-min mat-elevation-z4 rounded-lg overflow-hidden">

        <div id="settingsHeader" class="flex flex-row bg-primary text-on-primary justify-center text-lg p-2">Settings
        </div>
        <div id="themeSection" class="flex flex-row items-center bottom-divider p-4">
            <mat-label class="flex w-96 text-base text-on-surface items-center">Color Scheme</mat-label>
            <mat-radio-group class="flex" aria-label="Theme" [formControl]="themeInput">
                <mat-radio-button value="light">Light</mat-radio-button>
                <mat-radio-button value="dark">Dark</mat-radio-button>
            </mat-radio-group>
        </div>
        <div id="proxySection" class="flex flex-row items-center bottom-divider px-4 pt-4">
            <mat-label class="flex w-96 text-base text-on-surface items-center pb-5">
                <span>Cors Proxy</span>
                <button mat-icon-button #proxyTooltip="matTooltip" (click)="proxyTooltip.toggle()" color="primary"
                    matTooltip="API for fetching gradle plugin versions, doesnt allow CORS. Hence a CORS proxy is needed to fetch data. This field expects CORS proxy URL to which the original URL can be appended. Check docs for more details">
                    <mat-icon class="text-primary">info</mat-icon>
                </button>
            </mat-label>

            <mat-form-field class="flex" id="proxyUrlInputField" appearance="outline">
                <mat-label>Url</mat-label>
                <input id="proxyUrlInputText" matInput [formControl]="proxyUrlInput" class="flex overflow-hidden" />
            </mat-form-field>
        </div>
        <div id="versionFilterSection" class="flex flex-row items-start bottom-divider px-4 pt-4">
            <mat-label class="flex items-start w-96 text-base text-on-surface items-center mt-2">
                <span>Version Filter</span>
                <button mat-icon-button #versionFilterTooltip="matTooltip" (click)="versionFilterTooltip.toggle()" color="primary"
                    matTooltip="Versions in this list will be excluded from available options during dependency version selection.">
                    <mat-icon class="text-primary">info</mat-icon>
                </button>
            </mat-label>
            <div>
                <div class="flex">
                    <mat-form-field class="flex" id="versionFilterInputField" appearance="outline">
                        <mat-label>Version</mat-label>
                        <input id="versionFilterInputText" matInput [formControl]="versionFilterInput" class="flex overflow-hidden" />
                    </mat-form-field>
                    <span class="flex pt-2 pl-3">
                        <button class="flex" id="addVersionFilterButton" mat-icon-button (click)="addVersionFilter()">
                            <mat-icon class="bg-primary text-on-primary rounded-full">add</mat-icon>
                        </button>
                    </span>
                </div>
                
            </div>
        </div>
        <div class="flex flex-col items-center py-2">
            @for(ver of versionBlackList | async; track ver; let versionFilterIndex = $index) {
                <div class="flex mat-elevation-z2 w-48 bg-surface-container rounded-lg items-center my-2">
                    <span class="flex grow text-on-surface ml-2">{{ver}}</span>
                    <button class="flex self-end" mat-icon-button (click)="deleteVersionFilter(versionFilterIndex)">
                        <mat-icon class="bg-error text-on-error rounded-full">close</mat-icon>
                    </button>
                </div>
            }
        </div>
    </div>
</div>